body{
	background-color:white;
}
h1{
	font-size:60px;
	text-align:center
}
h2{
	font-size:50px;
	text-align:center;
}
#zold{
	color:green;
	font-size:40px
}
#kek{
	color:blue;
	font-size:40px
}
#piros{
	color:red;
	font-size:40px
}
#sarga{
	color:yellow;
	font-size:40px
}
#lila{
	color:purple;
	font-size:40px
}
li{
	text-align:center;
}